$bg-color :#FFE4DB ;
$icons-bg-color :#FFC0AA;
$main-text-color :#393939 ;  
$secondary-text-color :#FFFFFF; 
$home-text-color :#BC363A;
$first-btn-color :#BC363A;
$second-btn-color :#DEB93C;

$logo-width :2rem;
$logo-height :2rem;
$img-width :33rem;
$img-height :23rem;


$padding-sm :.5rem;
$padding-md :1.5rem;
$padding-lg :2.5rem;

$margin-sm :.5rem;
$margin-md :1rem;
$margin-lg :4rem;

$main-font-size :1.2rem;
$secondary-font-size :4rem;
$logo-font-size :1.5rem;

